.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.inputs {
    font: 16px Roboto, sans-serif;
    max-width: 360px;
    margin: auto;
}

.outputs {
    font: 16px Roboto, sans-serif;
    margin: auto;
    max-width: 480px;
}

@media (max-width: 960px) {
    .container {
      flex-direction: column;
    }
    .outputs{
        max-width: 360px;
    }
}

#answers {
  display: none;
}

h1 {
    font: bold 36px Roboto, sans-serif;
    text-align: center;
    margin: 20px;
}

h2 {
    font: bold 18px Roboto, sans-serif;
    text-align: center;
    margin: 20px;
}

input[type=button] {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 36px Roboto, sans-serif;
    transition: color 0.4s;
}

input[type=text] {
    border: 1px solid black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: bold 36px Roboto, sans-serif;
    max-width: 300px;
}

input[type=shuffle] {
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

body {
    background-color: white;
}

.main {
    display:flex;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}
  
  .buttons {
    font-size: 0; /*disable white space between inline block element */
    padding: 18px 18px
  }
  
  .buttons input {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size: 30px;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: gainsboro;
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  }
  #letter0 {
    background: darkorange;
  }
  #submit-btn, #shuffle, #backspace {
    background: #AAA;
  }
  .buttons::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 100%;
    shape-outside: repeating-linear-gradient(#000 0 10%, #0000 0 50%, #000 0 10%, #0000 0 50%);
    /*shape-outside: radial-gradient(#0000 95%, #000 5%);*/
  }

#antwoorden, #output {
    column-count: 3;
}